@import '~@styles-shared';

body {
	font-family: $default-font;
	color: $default-color-text;
	background-color: $default-color-background;
}

// NOTE: we can simply provide transition-property to add default transitions to element
* {
	transition-property: none;
	transition-duration: $default-transition-duration;
	transition-timing-function: $default-transition-easing;
}

// Element defaults
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
a,
small,
strong,
sub,
sup,
var,
i,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea {
	border-color: $default-color-border;

	&:before,
	&:after {
		vertical-align: middle;
		border-color: $default-color-border;
	}

}

strong,
dt,
mark,
th {
	@include type-strong;
}

blockquote,
q {
	@include type-serif;
}

pre,
code,
kbd,
samp {
	@include type-mono;
}

abbr[title],
dfn[title] {
	@include cursor-help;
	text-decoration: underline;
}
