// Color values
$color-transparent: transparent;
$color-black: #000;
$color-white: #fff;

$color-very-very-light-grey: #fafafa;
$color-very-light-grey: #f6f6f6;
$color-light-grey: #eaeaea;
$color-grey: #7f8c8d;
$color-dark: #2c3e50;

$color-red: #f8453c;
$color-orange: #fa8400;
$color-yellow: #fabc00;
$color-green: #42b983;
$color-purple: #b67de8;
$color-blue: #00baf8;
$color-dark-blue: #0039ac;
$color-light-blue: #a4dff3;



// Functional colors
$color-primary: $color-green;
$color-discreet: $color-grey;



// Font families
$font-sans: 'Source Sans Pro', 'Source Sans', 'system-ui', 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Segoe WP', 'Arial', sans-serif;
$font-serif: 'Droid Serif', 'Georgia', serif;
$font-mono: "Roboto Mono", 'Monaco', 'Menlo', 'Segoe UI Mono', 'Consolas', courier, monospace;
$font-display: 'Dosis', 'Avenir', $font-sans;

$font-size-small: 0.875em;
$font-size-large: 1.25em;

$font-size-display: $font-size-large;
$font-size-uppercase: 0.875em;
$font-size-mono: $font-size-small;

$font-weight-bold: 600;

// Line heights
// NOTE: keep these unitless
$line-height-tight: 1.3;
$line-height: 1.8;
$line-height-loose: 2;
$line-height-print: 1.5;



// Radiuses
$radius-tight: 2px;
$radius: 4px;
$radius-loose: 6px;



// Rhythm

$rhythm-tight-half: 0.4em;
$rhythm-tight: 0.8em;
$rhythm-base: 1.6em;
$rhythm-loose: 3.2em;

$separate-hairline: 1px;
$separate-thick: 0.25em;

$pad-tight-vertical: 2px;
$pad-tight-horizontal: 4px;
$pad-vertical: 4px;
$pad-horizontal: 8px;
$pad-loose-vertical: 10px;
$pad-loose-horizontal: 12px;

$buffer-very-tight: 0.4rem; // em
$buffer-tight: $buffer-very-tight * 2; 	// 0.8em
$buffer: $buffer-tight * 2; 			// 1.6em
$buffer-loose: $buffer * 2; 			// 3.2em

$buffer-relative-tight: 2%;
$buffer-relative: 6%;



// Transition durations
$transition-very-very-fast: 25ms;
$transition-very-fast: 75ms;
$transition-fast: 125ms;
$transition-medium: 300ms;
$transition-slow: 450ms;
$transition-slowish: 600ms;
$transition-very-slow: 900ms;
$transition-very-very-slow: 1200ms;

// Transition property sets
$transition-properties-style: opacity, color, background-color, border-color, box-shadow, text-shadow;
$transition-properties-common: transform, $transition-properties-style;
$transition-properties-transform: transform, width, height;
$transition-properties-position: transform, top, bottom, left, right;

// Easing functions
$easing-none: linear;
$easing-ease: ease;
$easing-snap: cubic-bezier(0, 0.5, 0.5, 1);
$easing-bounce: cubic-bezier(0, 0.5, 0.5, 1.05);
$easing-smooth: cubic-bezier(0.19, 1, 0.22, 1);



// Pixel ratios
$hdpi: 140dpi; // What to regard as limit for high pixel density (retina)



// Content-oriented defined paragraph widths
$width-content-very-tight: 16rem;
$width-content-tight: 24rem;
$width-content: 28rem;
$width-content-loose: 36rem;
$width-content-very-loose: 48rem;

// Defined screen widths in portrait
$width-iphone-4: 320px;
$width-iphone-5: $width-iphone-4;
$width-iphone-6: 375px;
$width-iphone-6-plus: 414px;
$width-ipad: 768px;
$width-ipad-pro: 1024px;

// Defined screen widths in portrait
$height-iphone-4: 480px;
$height-iphone-5: 568px;
$height-iphone-6: 667px;
$height-iphone-6-plus: 736px;
$height-ipad: 1024px;
$height-ipad-pro: 1366px;



// Breakpoints
// See `mixin-viewport.scss`
// NOTE: defining breakpoints in px gives more predictable control on devices, and avoids any issues when em is scaled
$breakpoint-tiny: $width-iphone-5 + 1px; // This means that iPhone 5 will NOT match `viewport-over-tiny`
$breakpoint-small: $width-iphone-6-plus;
$breakpoint-medium: $width-ipad;
$breakpoint-large: min($height-ipad, $width-ipad-pro);
$breakpoint-very-large: 1540px;
$breakpoint-ridiculous: 2048px;



// Defaults
$default-perspective: 600px;

$default-font: $font-sans;
$default-font-size: 18px;
$default-line-height: $line-height;

$default-color-background: $color-very-very-light-grey;
$default-color-text: $color-dark;
$default-color-link: $color-primary;
$default-color-link-active: color-saturate($default-color-link);

$default-color-border: $color-transparent;

$default-transition-duration: $transition-fast;
$default-transition-easing: $easing-none;

$default-shadow-opacity: 0.15;
$default-shadow-color: $color-dark;
