@if variable-exists(local-web-fonts) {
	@each $values in $local-web-fonts {

		// Read config
		$font-family: map-get($values, font-family);
		$font-weight: map-get($values, font-weight);
		$font-style: map-get($values, font-style);
		$filename: map-get($values, filename);

		// Print @font-face definitions
		@include font-face (
			$font-family,
			$font-weight,
			$font-style,
			'~@fonts/#{$filename}'
		);

	}
}
