// Remove the unit of a length
@function number ($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}
	@return $number;
}

// Turn a pixel value to em, based on root font size
// We use this in the `limit` mixins that
// E.g. breakpoint 640px -> 40em; 40 em can then be scaled while breakpoint remains in pixels
@function px-to-em ($pixels) {
	@if unit($pixels) == 'px' {
		@return (number($pixels) / number($default-font-size)) * 1em;
	}
	@return $pixels;
}
