// Make translucent
@function color-transparent ($color) {
	@return color-translucent($color, 0);
}

// Make color translucent
// FIXME: should return 0.1 for black, 0.25 for light values
@function color-translucent ($color, $strength: 0.15) {
	@return rgba($color, $strength);
}

// FIXME: should adjust based on hue
@function color-translucent-light ($color) {
	@return color-translucent($color, 0.4);
}

// FIXME: should adjust based on hue
@function color-translucent-verylight ($color) {
	@return color-translucent($color, 0.9);
}



// Make color darker
@function color-darker ($color, $strength: 10%) {
	@return darken($color, $strength);
}

// Make color more saturated
@function color-saturate ($color, $strength: 10%) {
	@return saturate(darken($color, 1.5 * $strength), $strength);
}
