// Margins
@mixin push {
	@include push-horizontal;
	@include push-vertical;
}

@mixin push-even {
	@include push-horizontal;
	@include push-vertical-even;
}

// Pane
@mixin push-horizontal {
	@include push-left;
	@include push-right;
}

@mixin push-vertical {
	@include push-top;
	@include push-bottom;
}

@mixin push-vertical-even {
	@include push-top-even;
	@include push-bottom;
}

// Single
@mixin push-top {
	margin-top: $buffer-tight;
}

@mixin push-top-even {
	margin-top: $buffer;
}

@mixin push-right {
	margin-right: $buffer;
}

@mixin push-bottom {
	margin-bottom: $buffer;
}

@mixin push-left {
	margin-left: $buffer;
}



// Small margins
@mixin push-tight {
	@include push-tight-horizontal;
	@include push-tight-vertical;
}

@mixin push-tight-even {
	@include push-tight-horizontal;
	@include push-tight-vertical-even;
}

// Pane
@mixin push-tight-horizontal {
	@include push-tight-left;
	@include push-tight-right;
}

@mixin push-tight-vertical {
	@include push-tight-top;
	@include push-tight-bottom;
}

@mixin push-tight-vertical-even {
	@include push-tight-top-even;
	@include push-tight-bottom;
}

// Single
@mixin push-tight-top {
	margin-top: $buffer-verytight;
}

@mixin push-tight-top-even {
	margin-top: $buffer-tight;
}

@mixin push-tight-right {
	margin-right: $buffer-tight;
}

@mixin push-tight-bottom {
	margin-bottom: $buffer-tight;
}

@mixin push-tight-left {
	margin-left: $buffer-tight;
}



// Double margins
@mixin push-loose {
	@include push-loose-horizontal;
	@include push-loose-vertical;
}

@mixin push-loose-even {
	@include push-loose-horizontal;
	@include push-loose-vertical-even;
}

// Pane
@mixin push-loose-horizontal {
	@include push-loose-left;
	@include push-loose-right;
}

@mixin push-loose-vertical {
	@include push-loose-top;
	@include push-loose-bottom;
}

@mixin push-loose-vertical-even {
	@include push-loose-top-even;
	@include push-loose-bottom;
}

// Single
@mixin push-loose-top {
	margin-top: $buffer;
}

@mixin push-loose-top-even {
	margin-top: $buffer-loose;
}

@mixin push-loose-right {
	margin-right: $buffer-loose;
}

@mixin push-loose-bottom {
	margin-bottom: $buffer-loose;
}

@mixin push-loose-left {
	margin-left: $buffer-loose;
}



// Percentage-based buffers
@mixin push-relative {
	@include push-relative-horizontal;
	@include push-relative-vertical;
}

@mixin push-relative-even {
	@include push-relative-horizontal;
	@include push-relative-vertical-even;
}

// Pane
@mixin push-relative-horizontal {
	@include push-relative-left;
	@include push-relative-right;
}

@mixin push-relative-vertical {
	@include push-relative-top;
	@include push-relative-bottom;
}

@mixin push-relative-vertical-even {
	@include push-relative-top-even;
	@include push-relative-bottom;
}

// Single
@mixin push-relative-top {
	margin-top: $buffer-relative-tight;
}

@mixin push-relative-top-even {
	margin-top: $buffer-relative;
}

@mixin push-relative-right {
	margin-right: $buffer-relative;
}

@mixin push-relative-bottom {
	margin-bottom: $buffer-relative;
}

@mixin push-relative-left {
	margin-left: $buffer-relative;
}



// No margins
@mixin no-push {
	@include no-push-horizontal;
	@include no-push-vertical;
}

// Pane
@mixin no-push-horizontal {
	@include no-push-left;
	@include no-push-right;
}

@mixin no-push-vertical {
	@include no-push-top;
	@include no-push-bottom;
}

// Single
@mixin no-push-top {
	margin-top: 0;
}

@mixin no-push-right {
	margin-right: 0;
}

@mixin no-push-bottom {
	margin-bottom: 0;
}

@mixin no-push-left {
	margin-left: 0;
}
