@mixin keep-left {
	clear: none;
	float: left;
}

@mixin keep-right {
	clear: none;
	float: right;
}

@mixin keep-center {
	margin-left: auto;
	margin-right: auto;
}

@mixin keep-vertical-center {
	top: 50%;
	transform: translateY(-50%);
}

@mixin keep-horizontal-center {
	left: 50%;
	transform: translateX(-50%);
}

@mixin keep-full-center ($extra-transform-values...) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) $extra-transform-values;
}

@mixin no-keep {
	float: none;
	margin-left: 0;
	margin-right: 0;
}
