// Font styles
@mixin type-uppercase {
	font-size: $font-size-uppercase;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}

@mixin type-small {
	font-size: $font-size-small;
}

@mixin type-large {
	font-size: $font-size-large;
	line-height: $line-height-loose;

	@include viewport-over-small {
		font-size: 1.4em;
	}

}

@mixin type-display {
	font-family: $font-display;
	font-size: $font-size-display;
	font-weight: inherit;

	line-height: $line-height-tight;

	// @include viewport-over-tiny {
	// 	font-size: 1.4em;
	// }

}

@mixin type-mono {
	font-family: $font-mono;
	font-size: $font-size-mono;
}

@mixin type-serif {
	font-family: $font-serif;
}

@mixin type-sans {
	font-family: $font-sans;
}

@mixin type-discreet {
	color: $color-discreet;
}

@mixin type-strong {
	font-weight: $font-weight-bold;
}

@mixin type-discreet-small {
	@include type-discreet;
	@include type-small;
}

@mixin type-warning {
	color: $color-red;
}



// Headings

@mixin type-h1 {
	@include type-display;
	font-weight: bold;
	font-size: 1.6em;

	@include viewport-over-tiny {
		font-size: 1.8em;
	}

	@include viewport-over-small {
		font-size: 2.2em;
	}

}

@mixin type-h2 {
	font-size: 1.4em;
}

@mixin type-h3 {
	font-size: inherit;

	@include viewport-over-tiny {
		@include type-strong;
	}

}

@mixin type-h4 {
	@include type-uppercase;
	@include type-discreet;
}

@mixin type-h5 {
	@include type-discreet-small;
}

@mixin type-h6 {
	@include type-h5;
}



// Other elements

@mixin type-link {
	font-weight: $font-weight-bold;
	color: $color-link;
}



// Other type-related

@mixin type-hyphens {
	// word-break: break-word;
	hyphens: auto;
}

@mixin type-nohyphens {
	// word-break: normal;
	hyphens: manual;
}

@mixin type-nobreak {
	word-break: keep-all;
	white-space: nowrap;
}

@mixin type-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	// vertical-align: middle;
}
