
// Allow passing multiple lists of properties to transform
@mixin transform ($properties...) {
	transform: $properties;
}

@mixin no-transform {
	transform: none;
}



//
// Translate3d
//

@mixin translate ($x, $y, $z: 0, $properties...) {
	@include transform(translate3d($x, $y, $z) $properties...);
}

@mixin translate-up ($y: 100%, $properties...) {
	@include translate(0, -$y, 0, $properties...);
}

@mixin translate-down ($y: 100%, $properties...) {
	@include translate(0, $y, 0, $properties...);
}

@mixin translate-left ($x: 100%, $properties...) {
	@include translate(-$x, 0, 0, $properties...);
}

@mixin translate-right ($x: 100%, $properties...) {
	@include translate($x, 0, 0, $properties...);
}

@mixin no-translate ($properties...) {
	@include transform(translate3d(0, 0, 0) $properties...);
}



//
// Transform origin
//

@mixin scale ($scale, $properties...) {
	@include transform(scale($scale), $properties...);
}

@mixin scale-normal ($properties...) {
	@include scale(1, $properties...);
}

@mixin no-scale ($properties...) {
	@include scale(0, $properties...);
}



//
// Transform origin
//

@mixin transform-origin ($x, $y, $z) {
	transform-origin: $x $y $z;
}

@mixin transform-origin-inherit {
	@include transform-origin(inherit);
}

// Transform origin: aligned to the top

@mixin transform-origin-top-left ($z: 0) {
	@include transform-origin(0, 0, $z);
}

@mixin transform-origin-top-center ($z: 0) {
	@include transform-origin(50%, 0, $z);
}

@mixin transform-origin-top-right ($z: 0) {
	@include transform-origin(100%, 0, $z);
}

// Transform origin: aligned vertically center

@mixin transform-origin-center-left ($z: 0) {
	@include transform-origin(0, 50%, $z);
}

@mixin transform-origin-center-center ($z: 0) {
	@include transform-origin(50%, 50%, $z);
}

@mixin transform-origin-center-right ($z: 0) {
	@include transform-origin(100%, 50%, $z);
}

// Transform origin: aligned to the bottom

@mixin transform-origin-bottom-left ($z: 0) {
	@include transform-origin(0, 100%, $z);
}

@mixin transform-origin-bottom-center ($z: 0) {
	@include transform-origin(50%, 100%, $z);
}

@mixin transform-origin-bottom-right ($z: 0) {
	@include transform-origin(100%, 100%, $z);
}



// Tranform origin shorthands
//
//      TOP
// LEFT     RIGHT
//     BOTTOM

@mixin transform-origin-top ($z: 0) {
	@include transform-origin-top-center($z);
}

@mixin transform-origin-right ($z: 0) {
	@include transform-origin-center-right($z);
}

@mixin transform-origin-bottom ($z: 0) {
	@include transform-origin-bottom-center($z);
}

@mixin transform-origin-left ($z: 0) {
	@include transform-origin-center-left($z);
}
