@mixin font-face ($font-family, $font-weight, $font-style, $filepath, $woffdata: null, $woff2data: null) {

	@font-face {
		font-family: $font-family;
		font-style: $font-style;
		font-weight: $font-weight;
		src: url('#{$filepath}.eot');
	}

	@font-face {
		font-family: $font-family;
		font-style: $font-style;
		font-weight: $font-weight;

		@if $woffdata {
			src:
				url('data:application/font-woff;charset=utf-8;base64,#{$woffdata}') format('woff'),
				url('data:application/font-woff2;charset=utf-8;base64,#{$woff2data}') format('woff2'),
				url('#{$filepath}.ttf') format('truetype');
		}

		@else {
			src:
				url('#{$filepath}.woff') format('woff'),
				url('#{$filepath}.woff2') format('woff2'),
				url('#{$filepath}.ttf') format('truetype');
		}

	}

}
