@mixin fill {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin fill-width {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	width: 100%;
}

@mixin fill-height {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	height: 100%;
}



@mixin fill-relative {
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin fill-width-relative {
	box-sizing: border-box;
	position: relative;
	left: 0;
	width: 100%;
}

@mixin fill-height-relative {
	box-sizing: border-box;
	position: relative;
	top: 0;
	height: 100%;
}



@mixin fill-fixed {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin fill-width-fixed {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	width: 100%;
}

@mixin fill-height-fixed {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	height: 100%;
}
